@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main_bg: hsl(233, 47%, 7%);
  --card_bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main_heading_and_stats: hsl(0, 0%, 100%);
  --main_para: hsla(0, 0%, 100%, 0.75);
  --stats_heading: hsla(0, 0%, 100%, 0.6);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: var(--main_bg);
  display: flex;
  justify-content: center;
}
p {
  color: var(--main_para);
  line-height: 1.6;
  text-align: center;
  margin: 0 2.5rem;
}
h1 {
  color: var(--main_heading_and_stats);
  font-size: 3rem;
  text-align: center;
  /* line-height: 1.6; */
  font-weight: 700;
  margin: 2rem 1rem 1.5rem;
}
.heading_span {
  color: var(--accent);
}

.container {
  width: 95%;
  margin: 3rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card_bg);
  margin-top: 10rem;
}
.image {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  opacity: 0.5;
}
.image img {
  width: 100%;
  height: 100%;
}
.testimonials {
  margin: 2rem 0 3rem 0;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.data_value {
  color: var(--main_heading_and_stats);
  font-size: 2.4rem;
  font-weight: 700;
}
.data_name {
  color: var(--stats_heading);
}
@media (min-width: 700px) {
  body {
    height: 100vh;
    align-items: center;
  }
  .container {
    flex-direction: row-reverse;
    max-width: 1000px;
    min-width: 900px;
    height: min-content;
    flex-grow: 1;
  }
  .testimonials {
    display: flex;
    justify-content: center;
  }
  p {
    max-width: 40ch;
  }
}
